
rsconnect/shinyapps.io/carlosyanezs/Covid_Tracker_AT.dcf
.Rhistory
.RData
.DS_Store
assist.Rmd
assist.nb.html
retrieved_data.rds
retrieved_data.rds
rsconnect/shinyapps.io/carlosyanezs/Covid-Austria-Tracker-Code.dcf
rsconnect/shinyapps.io/carlosyanezs/Covid-Austria-Tracker-Code.dcf
google_analytics.html
retrieved_data.rds
temp
*.csv
*.zip
geoboundaries_bezirke.rds
geoBoundariesSSCU-3_0_0-AUT-ADM2-all/CITATION-AND-USE-geoBoundaries-3_0_0.txt
geoBoundariesSSCU-3_0_0-AUT-ADM2-all/geoBoundariesPreviewSSCU-3_0_0-AUT-ADM2.png
geoBoundariesSSCU-3_0_0-AUT-ADM2-all/geoBoundariesSimplified-3_0_0-AUT-ADM2.geojson
geoBoundariesSSCU-3_0_0-AUT-ADM2-all/geoBoundariesSimplified-3_0_0-AUT-ADM2.topojson
geoBoundariesSSCU-3_0_0-AUT-ADM2-all/geoBoundariesSSCU-3_0_0-AUT-ADM2-metaData.json
geoBoundariesSSCU-3_0_0-AUT-ADM2-all/geoBoundariesSSCU-3_0_0-AUT-ADM2-metaData.txt
ideas.nb.html
ideas.Rmd
OGDEXT_POLBEZ_1_STATISTIK_AUSTRIA_20200101/STATISTIK_AUSTRIA_POLBEZ_20200101Polygon.cst
OGDEXT_POLBEZ_1_STATISTIK_AUSTRIA_20200101/STATISTIK_AUSTRIA_POLBEZ_20200101Polygon.dbf
OGDEXT_POLBEZ_1_STATISTIK_AUSTRIA_20200101/STATISTIK_AUSTRIA_POLBEZ_20200101Polygon.prj
OGDEXT_POLBEZ_1_STATISTIK_AUSTRIA_20200101/STATISTIK_AUSTRIA_POLBEZ_20200101Polygon.shp
OGDEXT_POLBEZ_1_STATISTIK_AUSTRIA_20200101/STATISTIK_AUSTRIA_POLBEZ_20200101Polygon.shx
bezirke.json
anim.gif
rsconnect/shinyapps.io/carlosyanezs/Covid_in_Austria.dcf
app_old.R
plotting_functions_old.R
plot_functions.R
v2.nb.html
v2.Rmd
